.sidenav {
  background-color: #111;
  display: flex;
}
.sidenav a {
  display: grid;
  text-decoration: none;
  padding: 6px 8px 6px 16px;
  font-size: 25px;
  color: #818181;
}
.sidenav a:hover {
  color: #f1f1f1;
}

  .imagem-redonda{
    border-radius: 50%;
  }
  .nome {
    font-size: 40px;
    margin: 40px ;
    padding-bottom: 100px;
  }
 
  @media (min-width: 768px) {
    main {
      display: flex;
    }
    .sidenav {
      height: 100%;
      width: 160px;
      position: fixed;
      
      display: block;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-x: hidden;
      padding-top: 20px;
    }
    body {
      margin-left: 170px;
      font-size: 18px;
    }
  }
  @media (max-width: 767px) {
    .linha {
      display: none;
    }
  }
  
  
.sobre_min{
  background-color: gray;
}
 
  .Contato {
    text-align: left;
  }
  
  

  h1 {
    text-align: center;
  }

  .formacao {
    width: 90%;
  }

  .habilidades {
    padding: 4px;
    width: 90%;
    background-color: #eeeeee;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
  }

  .linha {
  border-left: 3px solid rgba(152, 152, 152, 0.852);
  height: 800px;
  margin-left: 10px;
  margin-right: 10px;
  }
  details {
    margin-bottom: 20px;

  }
  details > summary {
    padding: 4px;
    width: 90%;
    background-color: #eeeeee;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
  }

  details > ul {
    background-color: #eeeeee;
    padding: 4px;
    margin: 15px;
    box-shadow: 1px 1px 2px #bbbbbb;
  }